Repository suchcodemuchwow/onelove: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, typecheck

eslint:
  run: turbo run lint {staged_files}

prettier:
  run: turbo run format {staged_files}

typecheck:
  run: turbo run typecheck {staged_files}

fix
  apps/api/src/transactions/transactions.controller.ts
  apps/api/tsconfig.json
Due: eslint, prettier, typecheck

update lefthook config
  lefthook.yml
Due: prettier

fix formatting issues
  apps/mobile/package.json
  packages/ui/package.json
Due: prettier

fix type import
  apps/api/package.json
  apps/api/src/transactions/transactions.controller.ts
  apps/desktop/package.json
  apps/extension/package.json
  apps/frontend/package.json
  apps/mobile/package.json
  apps/scraper/package.json
  turbo.json
Due: eslint, prettier, typecheck

fix import in main.tsx desktop
  apps/desktop/src/main.tsx
Due: eslint, prettier, typecheck

test
  hello.js
  lefthook.yml
Due: eslint, prettier

test
  .lefthook/pre-commit/hello.js
Due: eslint, prettier

chore: 🤖 add reviewer to renovate pr's
  renovate.json
Due: prettier

docs: ✏️ update README.md
  README.md
Due: prettier

chore: 🤖 downgrade expo-status-bar 1.6.0
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier

fix: 🐛 lefthook pre-push hook
  lefthook.yml
Due: prettier

style: 💄 add image to README.md
  README.md
  assets/onelove.png
Due: prettier

chore: 🤖 add changelog,license,readme
  CHANGELOG.md
  LICENSE
  README.md
Due: prettier

style: 💄 reorder dependencies
  .lefthook/pre-commit/hello.js
  README.md
Due: eslint, prettier

docs: ✏️ package descriptions
  README.md
Due: prettier

chore: 🤖 added welcome workflow
  .github/workflows/welcome.yaml
Due: none

chore: 🤖 removed ascii art in pre-commit
  .lefthook/pre-commit/hello.js
  lefthook.yml
Due: eslint, prettier

ci: 🎡 added pr workflow
  .github/workflows/pull-request.yaml
Due: none

ci: 🎡 removed unnecessary "on_merge_group" from github workflow
  .github/workflows/pull-request.yaml
Due: none

test: 💍 added e2e tests and some changes
  .github/workflows/frontend-e2e.yml
  .gitignore
  README.md
  apps/frontend/.gitignore
  apps/frontend/app/page.tsx
  apps/frontend/e2e/example.spec.ts
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/mobile/.detoxrc.js
  apps/mobile/App.tsx
  apps/mobile/app.json
  apps/mobile/config/setupDetox.json
  apps/mobile/e2e/jest.config.js
  apps/mobile/e2e/starter.test.ts
  apps/mobile/eas.json
  apps/mobile/index.js
  apps/mobile/jest.config.js
  apps/mobile/metro.config.js
  apps/mobile/package.json
  apps/mobile/report.json
  apps/mobile/src/App.tsx
  apps/mobile/src/__tests__/app.test.ts
  apps/mobile/tsconfig.json
  apps/scraper/package.json
  package.json
  packages/ui/components/auth/form.tsx
  packages/ui/components/landing/hero.tsx
  packages/ui/components/layout/navbar.tsx
  packages/ui/components/ui/icons.tsx
  pnpm-lock.yaml
  tsconfig.json
  turbo.json
Due: eslint, prettier, typecheck

docs: ✏️ improved README.md
  README.md
Due: prettier

docs: moved todo section
  README.md
Due: prettier

ci: update test-e2e job in github workflo
  .github/workflows/frontend-e2e.yml
Due: prettier

ci: renamed build step in pull request workflow
  .github/workflows/pull-request.yaml
Due: none

docs: updated docs and fixed typos
  README.md
  apps/desktop/electron/main.ts
  apps/desktop/src/main.tsx
  assets/apps.png
  packages/ui/components/ui/icons.tsx
Due: eslint, prettier, typecheck

chore(api): updated dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier

chore: 🤖 update deps
  apps/mobile/report.json
  package.json
  pnpm-lock.yaml
Due: prettier

ci: 🎡 added automerge for devDependencies
  apps/mobile/report.json
  renovate.json
Due: prettier

chore: 🤖 update dependencies
  apps/api/package.json
  apps/extension/package.json
  apps/mobile/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier

chore(deps): update dependencies and fix API base URL
  apps/api/src/main.ts
  apps/api/src/transactions/dto/create-transaction.dto.ts
  package.json
  pnpm-lock.yaml
Due: eslint, prettier, typecheck

refactor: improve code formatting and update transaction example value
  apps/api/src/main.ts
  apps/api/src/transactions/dto/create-transaction.dto.ts
  apps/mobile/report.json
  apps/scraper/package.json
  apps/scraper/src/main.ts
Due: eslint, prettier, typecheck

Path conditions:
  eslint: any of: *.{js,ts,jsx,tsx}
  prettier: any of: *.{js,ts,jsx,tsx,css,scss,md,json,yml}
  typecheck: any of: *.{ts,tsx}
